@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@0;1&family=Bebas+Neue&family=Carter+One&family=Fira+Code:wght@600&family=Rubik:ital,wght@0,300;1,300&family=Source+Code+Pro:ital,wght@0,300;1,300&display=swap');

/*General Styles*/
body
{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	row-gap: 100px;
}


h1, h2, h3, h4, h5, h6
{
	font-family: 'Bebas Neue', sans-serif;
	color: white;
}

p
{
	font-family: 'Archivo Narrow', sans-serif;
	color: white;
}

/* Typography [SITEWIDE]*/

.PsuedoBlessingsH
{
    font-family: 'Bebas Neue', sans-serif;	
}

.ArtistryH
{
    font-family: "Carter One";	
}

.ProgrammingH
{
    font-family: 'Fira Code', monospace;
}

.PsuedoBlessingsP
{
    font-family: 'Archivo Narrow', sans-serif;
}

.ArtistryP
{
    font-family: 'Rubik', sans-serif;
}

.ProgrammingP
{
    font-family: 'Source Code Pro', monospace;
}


/*Navigation & Footer Styles [SITEWIDE]*/
#navigation
{
	position: fixed;
	top: 0px;
	z-index: 999;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	background: linear-gradient(rgb(53, 53, 53), rgba(53, 53, 53, 0.747), rgba(255,0,0,0)); /*FALLBACK NEEDED*/
	justify-content: center;
	padding: 1em;
}

#main-navigation
{
	display: flex;
}

#main-navigation button
{
	color: white;
	width: 33%;
	height: auto;
}

#psuedoblessings-sub-navigation /*Implement the showing affect with javascript*/
{
	display: flex;
	display: none;
}

#psuedoblessings-sub-navigation button
{
	color: white;
	width: 33%;
	height: auto;
}

#footer
{
	height: auto;
	width: 100%;
	margin-top: auto;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(102,102,102,0.35));
    justify-content: center;
	color:white
}

#social-media-links
{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#social-media-links img
{
	max-height: 50px;
}

#internal-links
{
	height: auto;
	width: 100%;
	display: flex;
	flex: 0 0 100%;
	justify-content: space-evenly;
}

#internal-links div
{
	display: flex;
	flex-direction: column;
}


/*Stylzing Utilities [SITEWIDE]*/

.CleanAnchor, .CleanAnchor * /*Removes all of the default property value of an anchor tag (<a>) except cusor:pointer*/
{
	color:inherit;
	text-decoration:none; 
}

.CleanButton, .CleanButton * /*Remooves all of the default property value of a button tag (<button>)*/
{
	border: none;
	outline: none;
	background: none;
}

div.FaddingBorders
{
	box-sizing: border-box;
	border: 10px solid linear-gradient(#e66465, #9198e5);
}

img.HDImage, .HDImage img
{
	min-width: 1080px;
	max-width: 3840px;
	height: auto;
}

img.SDImage, .SDImage img
{
	min-width: 480px;
	max-width: 1080px;
	height: auto;
}

/*Stylzing Utilities For JavaScript [SITEWIDE]*/

/* Typography*/

h1
{
	font-size: 7vw;
	font-weight: 75;
}

h2
{
	font-size: 5vw;
	font-weight: 75;
}

p
{
	font-size: 1.12vw;
}

/*Header Style*/

#header
{
	width: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

#header h1
{
	margin: 0%;
}

#header p
{
	font-size: 2.31vw;
	word-spacing: 0.1vw;
}


/*Feature & Employment Styles*/

.panel
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.panel img
{
    object-fit: cover;
}

.panel p
{
	position: absolute;
	width: 100%;
	font-family: 'Bebas Neue', sans-serif;	
	font-size: 3.2vw;
	line-height: 2.5vw;
	font-weight: bold;
	margin: 0;
}

#feature
{
	width: 90%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

#feature .panel
{
	height: 10vw;
	width: 70%;
	-webkit-mask-size: 100%; /*-webkit- is added as not all browsers support without the prefix*/
}

#feature-leftpanels
{
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	row-gap: 30px;
}

#feature-leftpanels p
{
	text-align: right;
}

#feature-leftpanels .panel
{
	transform: rotate(10deg) skew(10deg);
	-webkit-mask-image: linear-gradient(-80deg, black, transparent); /*-webkit- is added as not all browsers support without the prefix*/
	background-color: rgba(46,84,218,1.00);
}

#feature-rightpanels
{
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	row-gap: 30px;
}

#feature-rightpanels p
{
	text-align: left;
}

#feature-rightpanels .panel
{
	transform: rotate(-10deg) skew(-10deg);
	-webkit-mask-image: linear-gradient(80deg, black, transparent); /*-webkit- is added as not all browsers support without the prefix*/
	background-color: rgba(210,17,20,1.00);
}

#employment
{
	width: 95%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

#employment-panels
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	row-gap: 30px;
}

#employment-panels .panel
{
	height: 10vw;
	width: 85%;
	-webkit-mask-size: 100%; /*-webkit- is added as not all browsers support without the prefix*/
}

#employment-panels .panel p
{
	font-size: 3.7vw;
	line-height: 3.25vw;
}

#employment-panels .panel:nth-child(odd)
{
	transform: rotate(-4deg) skew(-4deg);
	-webkit-mask-image: linear-gradient(80deg, transparent, black); /*-webkit- is added as not all browsers support without the prefix*/
	background-color: rgba(210,32,35,1.00);
}

#employment-panels .panel:nth-child(odd) p
{
	text-align: right;
}

#employment-panels .panel:nth-child(even)
{
	transform: rotate(4deg) skew(4deg);
	-webkit-mask-image: linear-gradient(-80deg, transparent, black); /*-webkit- is added as not all browsers support without the prefix*/
	background-color: rgba(46,84,218,1.00);
}

#employment-panels .panel:nth-child(even) p
{
	text-align: left;
}

/*Skills Style*/

#skills
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#skills > div
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

#skills button
{
	color: white;
	font-size: 4.2vw;
}

#programming-skills
{

}

#art-skills
{

}

/* animation */

/* utility */

.animate
{
	visibility: visible !important;
	position: relative;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-play-state: running !important;
}

.AnimateOnScroll
{
	visibility: hidden;
	animation-play-state: paused;
}

.AnimateOnButtonPress
{
	animation-play-state: paused;
}

.infinite
{
	animation-iteration-count: infinite;
}

.reverse
{
	animation-direction: reverse;
}

.fast
{
	animation-duration: 0.3s;
}

.slow
{
	animation-duration: 3s;
}

.delay
{
	animation-delay: 1s;
}

.fast-delay
{
	animation-delay: 0.3s;
}

.slow-delay
{
	animation-delay: 3s;
}

.fill-none
{
	animation-fill-mode: none;
}

.fill-forwards
{
	animation-fill-mode: forwards;
}

.fill-backwards
{
	animation-fill-mode: backwards;
}

.fill-both
{
	animation-fill-mode: both;
}

.ease-in-out
{
	animation-timing-function: ease-in-out;
}

.ease-out
{
	animation-timing-function: ease-out;
}

/* keyframes */

@keyframes walksOnLeft
{
	from
	{
		right: 100%;;
	}
	to
	{
		right: 0%;
	}
}

.walksOnLeft
{
	animation-name: walksOnLeft;
}

@keyframes walksOnRight
{
	from
	{
		left: 100%;;
	}
	to
	{
		left: 0%;
	}
}

.walksOnRight
{
	animation-name: walksOnRight;
}


@keyframes revealFromBottom
{
	from
	{
		opacity: 0%;
		top: -66px;
	}
	to
	{
		opacity: 100%;
		top: 0px;
	}
}

.revealFromBottom
{
	animation-name: revealFromBottom;
}

@keyframes scaleToptoBottom
{
	from
	{
		transform: scale(1, 0);
	}
	to
	{
		transform: scale(1, 1);
	}
}

.scaleToptoBottom
{
	transform-origin: top;
	animation-name: scaleToptoBottom;
}

@keyframes scaleRighttoLeft
{
	from
	{
		transform: scale(0);
	}
	to
	{
		transform: scale(1);
	}
}

.scaleRighttoLeft
{
	animation-name: scaleRighttoLeft;
	transform-origin: right;
}

@keyframes scaleLefttoRight
{
	from
	{
		transform: scale(0);
	}
	to
	{
		transform: scale(1);
	}
}

.scaleLefttoRight
{
	animation-name: scaleLefttoRight;
	transform-origin: left;
}

.revealShine 
{
	background: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 90), rgba(255, 255, 255, 10), rgba(255, 255, 255, 10), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 800%;
	animation-name: revealShine;
}

@keyframes revealShine
{
	0%
	{
		background-position: 100% 50%;
	}
	100%
	{
		background-position: 0% 50%;
	}
}

.diagonalWalkLeft
{
	transform-origin: 0% 50%;
	animation-name: diagonalWalkLeft;
}

@keyframes diagonalWalkLeft
{
	0%
	{
		opacity: 0;
		right: 100%;
		top: -50%;
		scale: 50% 100%;
		
	}
	
	100%
	{
		opacity: 1;
		right: 0%;
		top: 0%;
		scale: 100% 100%;
	}
	
}

.diagonalWalkRight
{
	transform-origin: 100% 50%;
	animation-name: diagonalWalkRight;
	
	
	
}

@keyframes diagonalWalkRight
{
	0%
	{
		opacity: 0;
		left: 100%;
		top: -50%;
		scale: 50% 100%;
	}
	
	100%
	{
		opacity: 1;
		left: 0%;
		top: 0%;
		scale: 100% 100%;
	}
	
}

.fadeInLeft
{
	animation-name: fadeInLeft;
}

@keyframes fadeInLeft 
{
	0%
	{
		-webkit-mask-position: 0% 0%;
	}
	
	100% 
	{
		-webkit-mask-position: -100% 0%;
	}
}

.fadeInRight
{
	animation-name: fadeInRight;
}

@keyframes fadeInRight 
{
	0%
	{
		-webkit-mask-position: -100% 0%;
	}
	
	100% 
	{
		-webkit-mask-position: 0% 0%;
	}
}



.typewriter
{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	white-space: nowrap; /* Keeps the content on a single line */
 	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	letter-spacing: .15em; /* Adjust as needed */
	animation-delay: 3s, 3s;
	animation: 
	typing 3.5s steps(30, end),
	blink-caret .5s;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white }
  }

.fadelarger
{
	animation-name: fadelarger;
}

@keyframes fadelarger
{
	0%
	{
		transform:  scale(1);
		opacity: 1;
	}
	
	50%
	{
		transform:  scale(1.25);
		opacity: 0;
	}
	
	100%
	{
		transform:  scale(1.5);
		opacity: 1;
	}
}

.fadesmaller
{
	animation-name: fadesmaller;
}

@keyframes fadesmaller
{
	0%
	{
		transform:  scale(100%);
		opacity: 1;
	}
	
	50%
	{
		opacity: 0;
	}
	
	100%
	{
		transform:  scale(50%);
		opacity: 1;
	}
}

.onefourthup
{
	animation-name: onefourthup;
}

@keyframes onefourthup
{
	0%
	{
		top: 0%;
	}
	
	100%
	{
		top: -100%;
	}
}

.onefourthdown
{
	animation-name: onefourthdown;
}

@keyframes onefourthdown
{
	0%
	{
		bottom: 0%;
	}
	
	100%
	{
		bottom: -100%;
	}
}

.fadelargerup
{
	animation-name: onefourthup, fadelarger;
}

.fadelargerdown
{
	animation-name: onefourthdown, fadelarger;
}

@keyframes revealEmploymentL
{
	0% {}
	100% {transform: rotate(0deg) skew(0deg);
		-webkit-mask-size: 800%;
		width: 100%;}
}

.revealEmploymentL:hover
{
	animation-name: revealEmploymentL;
}

@keyframes revealEmploymentR
{
	0% {}
	100% {transform: rotate(0deg) skew(0deg);
		-webkit-mask-position: -15% 0%;
		-webkit-mask-size: 800%;
		width: 100%;}
}

.revealEmploymentR:hover
{
	animation-name: revealEmploymentR;
}

@keyframes revealFeatureR
{
	0%{}
	100%{transform: rotate(0deg) skew(0deg);
		-webkit-mask-size: 200%;
		width: 100%;}
}

.revealFeatureR:hover
{
	animation-name: revealFeatureR;
}

@keyframes revealFeatureL
{
	0%{}
	100%{transform: rotate(0deg) skew(0deg);
		-webkit-mask-size: 200%;
		-webkit-mask-position: 70% 0%;
		width: 100%;}
}

.revealFeatureL:hover
{
	animation-name: revealFeatureL;
}

/* transitions */


