/*General Styles*/
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@0;1&family=Bebas+Neue&family=Carter+One&family=Fira+Code:wght@600&family=Rubik:ital,wght@0,300;1,300&family=Source+Code+Pro:ital,wght@0,300;1,300&display=swap');

body
{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1, h2, h3, h4, h5, h6
{
	font-family: 'Fira Code', monospace;
	color: white;
}

h2
{
	font-size: 3vw;
	text-align: center;
}

p
{
	font-family: 'Source Code Pro', monospace;
	color: white;
}

/* Typography [SITEWIDE]*/

.PsuedoBlessingsH
{
    font-family: 'Bebas Neue', sans-serif;	
}

.ArtistryH
{
    font-family: "Carter One";	
}

.ProgrammingH
{
    font-family: 'Fira Code', monospace;
}

.PsuedoBlessingsP
{
    font-family: 'Archivo Narrow', sans-serif;
}

.ArtistryP
{
    font-family: 'Rubik', sans-serif;
}

.ProgrammingP
{
    font-family: 'Source Code Pro', monospace;
}


/*Navigation & Footer Styles [SITEWIDE]*/
#navigation
{
	position: fixed;
	top: 0px;
	z-index: 999;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	background: linear-gradient(rgb(53, 53, 53), rgba(53, 53, 53, 0.747), rgba(255,0,0,0)); /*FALLBACK NEEDED*/
	justify-content: center;
	padding: 1em;
}

#main-navigation
{
	display: flex;
}

#main-navigation button
{
	color: white;
	width: 33%;
	height: auto;
}

#psuedoblessings-sub-navigation /*Implement the showing affect with javascript*/
{
	display: none;
}

#psuedoblessings-sub-navigation button
{
	color: white;
	width: 33%;
	height: auto;
}

#programming-sub-navigation /*Implement the showing affect with javascript*/
{
	display: none;
}

#programming-sub-navigation button
{
	color: white;
	width: 33%;
	height: auto;
}

#footer
{
	height: auto;
	width: 100%;
	margin-top: auto;
    display: flex;
	flex-direction: column;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(102,102,102,0.35));
    justify-content: center;
	color:white
}

#social-media-links
{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#social-media-links img
{
	max-height: 50px;
}

#internal-links
{
	height: auto;
	width: 100%;
	display: flex;
	flex: 0 0 100%;
	justify-content: space-evenly;
}

#internal-links div
{
	display: flex;
	flex-direction: column;
}


/*Stylzing Utilities [SITEWIDE]*/

.CleanAnchor, .CleanAnchor * /*Removes all of the default property value of an anchor tag (<a>) except cusor:pointer*/
{
	color:inherit;
	text-decoration:none; 
}

.CleanButton, .CleanButton * /*Remooves all of the default property value of a button tag (<button>)*/
{
	border: none;
	outline: none;
	background: none;
}

img.HDImage, .HDImage img
{
	min-width: 1080px;
	max-width: 3840px;
	height: auto;
}

img.SDImage, .SDImage img
{
	min-width: 480px;
	max-width: 1080px;
	height: auto;
}

/*Github Section*/

#github-section
{
	width: 90%;
	min-height: 100vh;
	margin: 10vh 0;
}

/*Feature Section & Employment Section*/

.Slideshow
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	column-gap: 30px;
}

.Card
{
	aspect-ratio: 1/1;
	width: 33vh;
	height: 33vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(0,0,0,1) 44%, rgba(40,40,40,1) 90%);
	-webkit-mask-image: linear-gradient(0deg, transparent, black, black); /*-webkit- is added as not all browsers support without the prefix*/
	border-radius: 10px;
}

.Card img
{
	height: inherit;
	object-fit: cover;
}

.Card-Text
{
	width: inherit;
	height: inherit;
	position: absolute;
	
}

#feature-section
{
	width: 90%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 10vh 0;
}

#feature-slideshow
{}

#employment-section
{
	width: 90%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	row-gap: 30px;
	margin: 10vh 0;
}

#employment-gallery
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 15px;
}

.Gallery
{
	width: 80%;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(22,22,158);
	background: radial-gradient(circle, rgba(22,22,158,1) 0%, rgba(9,9,121,1) 76%);
	-webkit-mask-image: radial-gradient(circle, rgba(22,22,158,1) 0%, rgba(9,9,121,1) 76%);
	border-radius: 10px;
}

.Gallery img
{
	width: inherit;
	object-fit: cover;
}

.Gallery-Text
{
	width: 100%;
	height: 100%;
	position: absolute;
	
}